.margin{
    margin-left: 30px;
    margin-right:30px;
}
.mar2{
    margin-left: 80px;
    margin-right: 30px;
}
#box1{
   border:2px,solid,black;
   color:black;
   height:650px;
   margin-top: 100px;
   margin-bottom: 100px; 
   margin-left:100px;
   margin-right:100px;
   width:300px;
   padding:20px;
   float: right;
   background-color:rgb(203, 199, 199);
   position:sticky;
}